.content {
  @apply relative overflow-x-auto;
  // font-family: "Nanum Myeongjo", serif;
  // font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 2rem;

  // heading styles
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 400;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
    font-weight: 400;
  }

  p {
    margin-bottom: 1rem;
  }

  p {
    position: relative;

    // Image styling
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 44px auto 10px auto;

      &[title] {
        position: relative;

        &::after {
          content: attr(title);
          display: block;
          text-align: center;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -1.5em; // Adjust based on caption size
          padding-top: 0.5em; // Adjust for padding above the caption

          // Caption styling
          font-size: 0.8em; // Adjust font size
          color: #333; // Text color
          background: #501a1a; // Background color for the caption
          opacity: 0.7; // Transparency for the caption
        }
      }
    }
  }

  blockquote {
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  ul {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;

    li {
      margin-bottom: 0.5rem;
      list-style-type: disc;
    }
  }

  ol {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

    li {
      margin-bottom: 0.5rem;
      list-style-type: decimal;
    }
  }

  table {
    border-collapse: collapse;
    margin-bottom: 1rem;
    width: 100%;

    th,
    td {
      border: 1px solid #ccc;
      padding: 0.5rem;
    }

    thead {
      //   background-color: #f9f9f9;
      font-weight: bold;
    }
  }

  // code (handle for both light and dark mode)
  code {
    font-size: 0.9rem;
    padding: 0.125rem 0.25rem;

    // use tailwindcss color classes
    // @apply bg-gray-300 dark:bg-gray-800;
    @apply border border-gray-300 dark:border-gray-800 rounded-sm max-w-2xl mx-auto;
  }

  pre {
    @apply my-6;
  }
}
